<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- GenericServlet -->
    <servlet>
        <servlet-name>Servlet01</servlet-name>
        <servlet-class>com.servlet.Servlet01</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet01</servlet-name>
        <url-pattern>/Servlet01</url-pattern>
    </servlet-mapping>

    <!-- HttpServlet -->
    <servlet>
        <servlet-name>HttpServlet01</servlet-name>
        <servlet-class>com.servlet.HttpServlet01</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpServlet01</servlet-name>
        <url-pattern>/HttpServlet01</url-pattern>
    </servlet-mapping>

    <!-- Servlet生命周期 -->
    <servlet>
        <servlet-name>Servlet02</servlet-name>
        <servlet-class>com.servlet.Servlet02</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet02</servlet-name>
        <url-pattern>/Servlet02</url-pattern>
    </servlet-mapping>

    <!-- Servlet线程安全 -->
    <servlet>
        <servlet-name>Servlet03</servlet-name>
        <servlet-class>com.servlet.Servlet03</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
        <init-param>
            <param-name>desc</param-name>
            <param-value>This is ServletConfig</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet03</servlet-name>
        <url-pattern>/Servlet03</url-pattern>
    </servlet-mapping>

    <!-- Servlet多映射 -->
    <servlet>
        <servlet-name>Servlet04</servlet-name>
        <servlet-class>com.servlet.Servlet04</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet04</servlet-name>
        <url-pattern>/Servlet/*</url-pattern>
    </servlet-mapping>



    <!-- ServletConfig -->
    <servlet>
        <servlet-name>ServletConfigDemo</servlet-name>
        <servlet-class>com.config.ServletConfigDemo</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>desc</param-name>
            <param-value>This is ServletConfig</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>ServletConfigDemo</servlet-name>
        <url-pattern>/ServletConfigDemo</url-pattern>
    </servlet-mapping>

    <!-- ServletContext -->
    <servlet>
        <servlet-name>ServletContextDemo</servlet-name>
        <servlet-class>com.config.ServletContextDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletContextDemo</servlet-name>
        <url-pattern>/ServletContextDemo</url-pattern>
    </servlet-mapping>

    <!--配置全局ServletContext-->
    <context-param>
        <param-name>globalEncoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>

    <context-param>
        <param-name>globalDesc</param-name>
        <param-value>This is ServletContext</param-value>
    </context-param>


</web-app>
